{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% load static %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Mensualidad Parqueadero Jogal</h1>
        <button title="Nuevo Cliente" class="btn btn-background btn-sm btn-block" onclick="open_modal_create('{% url 'create_customer_jogal' %}')" data-bs-toggle="modal"><i class="bi bi-plus-square"></i></button>
        <!-- Contenedor del modal -->
        <div class="modal fade" id="crear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
    </div>
    <div class="card card-body">
        <table id="customer_jogal" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Vehiculo</th>
                    <th>Placa</th>
                    <th>Precio</th>
                    <th>Día de pago</th>
                </tr>
            </thead>
            <tbody>
                {% for customer_jogal in customers_jogal %}
                <tr onclick="open_modal_update('{% url 'update_customer_jogal' customer_jogal.id %}')">
                    <td>{{ customer_jogal.id }}</td>
                    <td>{{ customer_jogal.name }}</td>
                    <td>{{ customer_jogal.phone }}</td>
                    <td>{{ customer_jogal.vehicle }}</td>
                    <td>{{ customer_jogal.license_plate }}</td>
                    <td>${{ customer_jogal.price }}</td>
                    <td>{{ customer_jogal.payment_day }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<script src="{% static 'js/datatable/customer/customer_jogal.js' %}"></script>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  function open_modal_create(url) {
    $("#crear").load(url, function () {
      $(this).modal("show");
    });
  }
</script>

<script type="text/javascript">
  function open_modal_update(url) {
    $("#crear").load(url, function () {
      $(this).modal("show");
    });
  }
</script>
{% endblock extrajs %}